<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід</title>
</head>

<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    button {
        width: 100px;
        height: 25px;
        font-size: 16px;
    }
</style>

<body>
<h2>Вхід</h2>
<form action="/login" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label for="username">Ім'я користувача:</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password">
    <br>
    <button type="submit">Увійти</button>
</form>

<div th:if="${error}" style="color: red;">
    <p>Неправильний пароль або ім'я користувача.</p>
</div>

<div th:if="${logout}" style="color: green;">
    <p>Вихід виконано успішно.</p>
</div>

</body>
</html>